.AddProperty {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color: white;
  padding: 10px;
  width: 450px;
  border: 1px solid black;
  border-radius: 10px;
}

.form-add-property {
  display: flex;
  flex-direction: column;
  padding: 0 10px 0 10px;
}

label {
  display: grid;
  margin-top: 10px;
}

.add-button {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  color: #fff !important;
  background: purple;
  padding: 3px;
  border: none;
  transition: all 0.4s ease 0s;
}

.add-button:hover {
  background: #363636;
  transition: all 0.4s ease 0s;
}
