.AddProperty {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  display: grid;
  background-color: lightgray;
  padding: 15px;
  width: 50%;
}

.form-add-property {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

label {
  display: grid;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.add-button {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 60px;
  color: #fff !important;
  background: purple;
  padding: 3px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
}

.add-button:hover {
  background: #363636;
  transition: all 0.4s ease 0s;
}
