@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

html,
body {
  margin: 0;
  background-color: white;
}

.app {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1em;
}

.component {
  flex: 1;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #ad8a67;
}

a:active {
  text-decoration: none;
}

button {
  border: none;
  background-color: #402e32;
}

button:hover {
  color: #ffad48;
  transition: all 0.4s ease 0s;
}

@media only screen and (max-width: 974px) {
  .app {
    font-size: 0.9em;
  }
}

@media (max-width: 767px) {
  .large-screen {
    display: none;
  }
}
