@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

.App {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  padding: 0;
  background: lightgray;
  padding-bottom: 15px;
}
