.favourite-card {
  background-color: #fff6e7;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 10px 0 0 0;
  padding: 10px;
  border: 1px solid black;
}

.favourite-remove {
  color: white;
  font-size: 16px;
  margin-left: 5px;
}

.favourite-remove:hover {
  transition: all 0.4s ease 0s;
}

@media only screen and (max-width: 469px) {
  .favourite-card {
    width: 250px;
    font-size: 0.9em;
  }

  .favourite-remove {
    font-size: 1em;
  }
}
