.navbar {
  font-size: 20px;
  border-bottom: black 1px solid;
  margin: 0 50px 20px 50px;
}

.navbar-links {
  padding: 0;
  display: inline-block;
  margin-left: 45px;
}

.navbar-links-item {
  padding-right: 40px;
  display: inline-block;
  font-size: 14px;
}
