@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap");

.navbar {
  display: flex;
  border-bottom: black 1px solid;
  height: 60px;
  align-items: center;
  width: 100%;
  background-color: #ffad48;
}

.navbar-title {
  align-items: center;
  padding-left: 20px;
  font-size: 1.5em;
  color: black;
}

.navbar-link {
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 100%;
}

.navbar-login {
  align-self: center;
  margin-left: auto;
}

.navbar-login-button {
  border: none;
  color: white;
  font-size: 1.1em;
  height: 60px;
  padding: 0 25px 0 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
