.navbar {
  font-size: 20px;
  border-bottom: black 1px solid;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.navbar-links {
  padding: 0;
  display: inline-block;
  margin-left: 45px;
}

.navbar-links-item {
  padding-right: 40px;
  display: inline-block;
  font-size: 14px;
}
