.properties {
  display: flex;
  height: 100%;
}

.property-cards {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.property-card {
  flex: 0 1 360px;
  height: fit-content;
  margin: 10px 10px 10px 10px;
  background-color: white;
  padding: 5px;
  border: black 1px solid;
}

.property-alert {
  width: 100%;
  margin-left: 10px;
}
