.property-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  display: grid;
  background-color: white;
  padding: 29px;
  width: 50%;
  border: black 2px solid;
}

.property-title {
  font-size: 18px;
  font-weight: bold;
}

.property-type-city {
  font-style: italic;
}
