.properties {
  display: flex;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.card {
  width: 30%;
  height: 20%;
  margin: 10px;
  background-color: white;
  padding: 5px;
  border: black 2px solid;
}
