.property-card-display > div {
  margin: 0 0 5px 0;
}

.property-title {
  font-size: 1.1em;
  font-weight: bold;
}

.property-type-city {
  font-style: italic;
}

.button {
  color: white;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 0 5px 0;
}

button > a {
  color: white;
}

button > a:hover {
  color: #ffad48;
  transition: all 0.4s ease 0s;
}

@media only screen and (max-width: 469px) {
  .property-title {
    font-size: 1em;
  }

  .button {
    font-size: 0.9em;
  }
}
