.sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 20px 0 20px;
  font-size: 1em;
  background-color: #fff6e7;
  border-right: 1px black solid;
  height: 100%;
}

.search-input {
  margin-top: 10px;
}

.search-button {
  height: 21px;
  color: white;
  margin-bottom: 10px;
}

.search-button:hover {
  background: black;
  transition: all 0.4s ease 0s;
}

.item {
  padding: 0 0 20px 0;
}

.item-title {
  padding: 0 0 20px 0;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}

@media only screen and (max-width: 469px) {
  .item-title {
    font-size: 0.9em;
  }

  .sidebar {
    font-size: 0.8em;
    padding: 0 5px 0 5px;
  }

  .search-input {
    width: 80px;
  }

  .search-button {
    font-size: 0.9em;
  }
}
