.sidebar {
  flex: 0 1 230px;
  width: 270px;
  padding-left: 20px;
  font-size: 1em;
  background-color: white;
  padding-bottom: 21.8%;
}

.search-input {
  margin: 10px 0 10px 0;
}

.search-button {
  height: 21px;
  color: white;
  background-color: purple;
}

.search-button:hover {
  background: black;
  transition: all 0.4s ease 0s;
}

.item {
  padding: 0 0 20px 0;
}

.item-title {
  padding: 0 0 20px 0;
  font-weight: bold;
  text-decoration: underline;
}
