.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0 0 230px;
  width: 220px;
  padding-left: 20px;
  font-size: 1em;
  background-color: white;
}

.search {
  padding-top: 30px;
}

.item {
  padding: 30px 0 20px 0;
}

.item-title {
  padding: 30px 0 20px 0;
  font-weight: bold;
}

input {
  height: 20px;
}

button {
  color: white;
  border: none;
  height: 26px;
  background-color: purple;
}

button:hover {
  background: #363636;
  transition: all 0.4s ease 0s;
}
